name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
        cache: pip

    - name: Install dependencies
      run: |
        pip install -e .

    - name: Run
      run: |
        set -o pipefail
        make run 2>&1 | tee dagster.log
      env:
        COVALENT_API_KEY: ${{ secrets.COVALENT_API_KEY }}

    - name: Extract Step Execution time from logs
      run: |
        echo "Dagster step timings:" >> $GITHUB_STEP_SUMMARY
        echo "Step Name | Execution Time" >> $GITHUB_STEP_SUMMARY
        echo "-----------|----------------" >> $GITHUB_STEP_SUMMARY
        while IFS= read -r line; do
          if [[ $line == *"STEP_SUCCESS"* ]]; then
            step_name=$(echo "$line" | awk -F' - ' '{print $7}')
            exec_time=$(echo "$line" | awk -F' - ' '{split($9,a," "); print a[7]}')
            echo "$step_name | $exec_time" >> $GITHUB_STEP_SUMMARY
          fi
        done < dagster.log

    - name: Export Database and Log File Sizes
      run: |
        make tables
        echo "Files exported:" >> $GITHUB_STEP_SUMMARY
        {
          echo "| Filename | File Size |"
          echo "| --- | --- |"
          ls -lh data/tables | tail -n +2 | awk '{printf "| %s | %s |\n", $9, $5}'
        } >> $GITHUB_STEP_SUMMARY
        ls -lh data/tables

    - name: Install Quarto
      uses: quarto-dev/quarto-actions/setup@v2

    - name: Render
      run: |
        make render
